body {
	margin: 0 auto;
	padding: 50px;
  	font-size: 100%; 
  	font-family: Arial Narrow;
}

dt {
	font-weight:bold;
	margin:0;
	padding-right: 10px;
	float:left;
	display:block;
	width: 250px;
}

dd{
    margin: 15px;
    margin-left: 265px;
    width: 75%;
}

h1 {
    font-variant: small-caps;
    letter-spacing: 5pt;
    width: 250px;
}

h2 {
    margin-top: 50px;
    font-variant: small-caps;
    width: 250px;
}

.offset {
    margin-top: 50px;
}

.lang_type {
    font-variant: small-caps;
    font-weight: bold;
}

.lang_level, h3 {
    font-variant: small-caps;
}

.lang_info {
    visibility: hidden;
}

.marked {
    font-size: 120%;
    font-weight: bold;
}